.featured {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 }
 
 .featuredItem {
  width: 30%;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
 }
 
 .featuredItem .featuredImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
 }
 
 #fea {
  margin: 5px 0;
  font-size: 1.2em;
  color: #2AAA8A;
}
#fea1 {
  margin: 5px 0;
  font-size: 1.2em;
  color: #A9A9A9;
}

#fakraa {
  font-size: 10px;
  display: inline-block;
  position: relative;
}
.paraggrr {
  display: inline-block;
  position: relative;
}

#featitle {
  margin: 5px 0;
  font-size: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000;
}

.featured:empty::after {
  content: "Loading...";
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .featuredItem {
    flex-basis: calc(50% - 20px);
  }

  .featuredItem .featuredImg {
    height: 210px;
   }
}
