.featured {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.featuredItem {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.featuredImg {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

.featuredTitles {
  text-align: center;
  margin-top: 10px;
}

#fea {
  margin: 5px 0;
  font-size: 1.2em;
}
#featitle {
  margin: 5px 0;
  font-size: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.featured:empty::after {
  content: "Loading...";
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .featuredItem {
    flex-basis: calc(50% - 20px);
  }
}
